.italic {
    font-style: italic;
}
body {
    -webkit-touch-callout: none; /* Заборона вибору тексту для Safari */
    -webkit-user-select: none; /* Заборона вибору тексту для Safari */
    -moz-user-select: none; /* Заборона вибору тексту для Firefox */
    -ms-user-select: none; /* Заборона вибору тексту для IE */
    user-select: none; /* Заборона вибору тексту для інших браузерів */
}

.romeo {
    text-align: center;
    color: #883ac4;
    font-size: 36px;
}

.graycl {
    color: grey;
    font-size: 24px;
}

.italic {
    font-style: italic;
}

.cardRed {
    font-size: 24px;
    color: red;
    display: inline-block;

}

.cardBlack {
    font-size: 24px;
    display: inline-block;
}

.card-container {
    white-space: nowrap;
}
