.italic {
    font-style: italic;
}
body {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

.romeo {
    text-align: center;
    color: #883ac4;
    font-size: 36px;
}

.graycl {
    color: grey;
    font-size: 24px;
}

.italic {
    font-style: italic;
}

.cardRed {
    font-size: 24px;
    color: red;
    display: inline-block;

}

.cardBlack {
    font-size: 24px;
    display: inline-block;
}

.card-container {
    white-space: nowrap;
}
